@font-face {
   font-family: techno;
   src: url("AquireBold-8Ma60.otf");
}
.topnav {
	overflow: hidden;
	background-color: white;
	position: sticky;
	width: 100%;
	height: 10%;
	top: 0;
	left: 0;
	font-size: 20px;
	font-family: 'techno'
}

.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}
.topnav div {
	display: inline;
	float: left;
	list-style-type: none;
	padding-left: 5px;
}
.topnav img {
	float: left;
	padding-left: 10px;
}
div.gallery {
	border: 1px solid #ccc;
  }
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }
  
  * {
	box-sizing: border-box;
  }
  
  .responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }